<!DOCTYPE html>
<html>
<head>
	<title>S.A.P - Simple Audio Player</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../libs/ionicons/css/ionicons.min.css">

	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../libs/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script>if (window.module) module = window.module;</script>
</head>
<body ng-app="myApp" ng-controller="MainCtrl">
	<div class="main-content">
		<div class="header-bar">
			<!-- <div class="header-left">
				<h2 style="margin-top: 5px; font-size: 35px;">S.A.P</h2>
				<p style="margin-top: -15px; font-size: 10px;">Simple Audio Player</p>

				<i class="icon ion-ios-gear" onclick="openNav()"></i>
			</div> -->
			<div class="header-center">
				<!-- Modal -->
				<div class="modal fade bd-example-modal-sm" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-sm">
				    <div class="modal-content">
				    	<h2>{{ 'PREFERENCES' | translate}}</h2>
				    	<div class="item-setting">
							<div>
								<p>Theme:</p>
								<select class="form-control" ng-model="themes" ng-init="" ng-change="">
									<option value="dark">Dark</option>
									<option value="white">White</option>
								</select>
							</div>
							<div>
								<p>Language:</p>
								<select class="form-control" ng-model="locales" ng-init="initLocale()" ng-change="changeLang(locales)">
									<option value="en">English</option>
									<option value="vi">Vietnamese</option>
								</select>
							</div>
				    	</div>
				    </div>
				  </div>
				</div>

				<center>
					<div class="sort-buttons">
						<div id="btn-sort-title" class="sort-button sorted" ng-click="changeSort('title')" title="{{ 'SORT BY TITLE' | translate}}">{{ 'TITLE' | translate }}</div>
						<div id="btn-sort-time" class="sort-button" ng-click="changeSort('time')" title="{{ 'SORT BY TIME' | translate}}">{{ 'TIME' | translate }}</div>
						<div id="btn-sort-artist" class="sort-button" ng-click="changeSort('artist')" title="{{ 'SORT BY ARTIST' | translate}}">{{ 'ARTIST' | translate }}</div>
						<div id="btn-sort-album" class="sort-button" ng-click="changeSort('album')" title="{{ 'SORT BY ALBUM' | translate}}">{{ 'ALBUM' | translate }}</div>
					</div>
				</center>
			</div>
			<!-- <div class="header-right">
				<input type="text" placeholder="Search" ng-model="searchContent" ng-keyup="search()">
				<center>
					<div style="width: 0; height: 0; border-style: solid; border-width: 0 13.5px 15px 13.5px; border-color: transparent transparent #fff transparent;"></div>
				</center>
			</div> -->
		</div>

		<div class="list">
			<!-- <div class="tracks-list-header">
				<div class="track-cell-header cell-track-playing"></div>
				<div class="track-cell-header cell-track">Track</div>
				<div class="track-cell-header cell-duration">Time</div>
				<div class="track-cell-header cell-artist">Artist</div>
				<div class="track-cell-header cell-album">Album</div>
			</div> -->

			<div class="tracks-list-body done" style="display: none;">
				<div class="tracks-list-tiles">
					<div class="tracks-list-tile">
						<div id="{{music.id}}" class="track" ng-class="$index % 2 === 0 ? 'track-pear' : 'track-foot' " ng-repeat="music in musics | orderBy: sort" ng-click="playSong( $index, music.path, music.title, music.artist, music['id3v2.3'], music.duration )">
							<div class="cell cell-track-playing text-center">{{ $index + 1 }}</div>
							<div class="cell cell-track">{{ music.title }}</div>
							<div class="cell cell-duration">{{ music.duration || '00:00' }}</div>
							<div class="cell cell-artist">{{ music.artist }}</div>
							<div class="cell cell-album">{{ music.album }}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bar">
				<p class="loading" ="loading">{{ 'LOADING' | translate }}...</p>
				<p class="done" style="display: none;">{{ total_songs }} {{ total_songs > 1 ?  ('TRACKS' | translate) : ('TRACK' | translate) }}, {{total_time}}</p>
			</div>
		</div>

		<div class="info">
			<center>
				<div class="cover" ng-class="current !== undefined ? 'spinning' : ''" ng-show="showCover" style="padding: 0px; animation-play-state: paused;">
					<img width="250" height="250" src="{{cover}}">
				</div>

				<div data-toggle="modal" data-target="#exampleModal" class="cover" ng-class="current !== undefined ? 'spinning' : ''" ng-hide="showCover" style="animation-play-state: paused;">
					<i class="icon ion-ios-musical-notes"></i>
				</div>

				<div class="track-info">
					<h3>{{track_title}}</h2>
					<p>{{track_artist}}</p>
				</div>

				<div class="controls" id="player">

					<div class="duration">
						<span class="time" style="left: 10px;">{{ durationFrom || '00:00' }}</span>
						<div class="slider-bar" id="seek-duration"></div>
						<span class="time" style="right: 10px;">{{ durationTo || '00:00' }}</span>
					</div>

					<div class="control control1">
						<div>
							<i id="btn-back" class="icon ion-ios-rewind" title="{{ 'PREVIOUS' | translate }}" ng-click="previousSong(loop, shuffle)"></i>
						</div>
						<div ng-hide="isPlay">
							<i class="icon ion-ios-play" title="{{ 'PLAY' | translate }}" ng-click="play()"></i>
						</div>
						<div ng-hide="isPause">
							<i class="icon ion-ios-pause" title="{{ 'PAUSE' | translate }}" ng-click="pause()"></i>
						</div>
						<div>
							<i id="btn-next" class="icon ion-ios-fastforward" title="{{ 'NEXT' | translate }}" ng-click="nextSong(loop, shuffle)"></i>
						</div>
					</div>

					<div class="control control2">
						<div style="left: 10px;">
							<i class="icon ion-ios-shuffle-strong" ng-class="shuffle === 'true' ? 'loop-or-shuffle' : ''" ng-click="shuffleFunction()" title="{{ 'SHUFFLE' | translate }}: {{ shuffle === 'true' ? ('ON' | translate) : ('OFF' | translate) }}"></i>
						</div>
						<div class="slider-bar" id="volume-duration"></div>
						<div style="right: 10px;">
							<i class="icon ion-ios-loop-strong" ng-class="loop !== 'none' ? 'loop-or-shuffle' : ''" ng-click="loopFunction()" title="{{ 'REPEAT' | translate }}: {{ loop === 'none' ? ('NONE' | translate) : (loop === 'all' ? ('ALL' | translate) : ('ONE' | translate) ) }}"></i>

							<span class="loop-or-shuffle" id="repeat-one" ng-show="loop === 'one'" ng-click="loopFunction()" title="{{ 'REPEAT' | translate }}: {{ 'ONE' | translate }}">1</span>
						</div>
					</div>
				</div>
			</center>
		</div>

		<!-- <div class="list-search">
			<div class="border-result-box">
				<div class="search-options">
					<div class="search-option">
						<input type="checkbox" name="vehicle" value="Bike">Artist
					</div>
					<div class="search-option">
						<input type="checkbox" name="vehicle" value="Bike">Album
					</div>
				</div>
				<div class="result-box">
					<div class="result-item" ng-repeat="item in listSearch" id="{{item.id}}">{{ item.title }}</div>
				</div>
			</div>
		</div> -->
	</div>
</body>

<script type="text/javascript" src="../libs/angular.min.js"></script>
<script src="../libs/angular-translate/dist/angular-translate.js"></script>
<script src="../libs/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/audio.js"></script>
<script type="text/javascript" src="../js/MainCtrl.js"></script>

</html>
