<!DOCTYPE html>
<html>
<head>
	<title>Preferences</title>

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="../libs/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../libs/ionicons/css/ionicons.min.css">

	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

	<script type="text/javascript" src="../libs/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../libs/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../libs/bootstrap/dist/js/bootstrap.min.js"></script>

	<script>if (window.module) module = window.module;</script>
</head>
<body>
	<div class="container">
		<div style="display: flex;">
			<span style="width: 100%;">Language:</span>
			<select class="form-control" style="width: 150px;">
				<option>English</option>
				<option>Vietnamese</option>
				<option>Thai</option>
				<option>Korean</option>
				<option>Japanese</option>
			</select>
		</div>
	</div>
</body>
</html>